html,
body {
  background: url(images/background-home.png) no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #393E46;
}

.link-text {
  margin-top: 30vh;
}

/* NavBar Styling */

.navbar {
  background-color: #393E46;
  min-height: 10vh;
}

.navbar>a,
.nav-link {
  color: #FFF4E0;
}



.nav-link:hover{
  color: rgba(255, 244, 224, .75)
}

.navbar .navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=FFF4E0');
}

.custom-toggler:focus{
  border: none;
  outline: none;
}


/* Home Styling */
.header-row {
  margin-top: 10vh;
  background: rgba(57, 62, 70, .65)
}

.header {
  text-align: center;
  padding: 1%;
  color: #FFF4E0;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  text-decoration: none;
  border: solid;
  border-width: 1px;
  border-color: #FFF4E0;
  color: #FFF4E0;
  background: rgba(57, 62, 70, .65)
}

.btn:hover {
  text-decoration: none;
  border-color: rgba(57, 62, 70, 1);
  color: rgba(57, 62, 70, 1);
  background: rgba(255, 244, 224, .75)
}

/* Portfolio Styling */
.card {
  background-color: #393E46;
  color: #FFF4E0;
}

.card-description {
  overflow: scroll;
}

.portfolio-intro {
  background: rgba(57, 62, 70, .85);
  padding: 1vh;
  color: rgba(255, 244, 224, 1);
  border-radius: 10px;
  /* background-color: #FFF4E0; */
}

.profile-text {
  padding: 1vh;
}

.smb-profile {
  height: 20vh;
  width: 20vh;
  border-radius: 1000px;
  background-image: url('images/smb-portrait.png');
  background-size: contain;
  background-position: center;
  background-repeat: none;
}