h1, h5 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

p, a {
  font-family: 'Quicksand', sans-serif;
}

.name {
  font-family: 'Montserrat', sans-serif;
}